body {
    font-family: $fontMain;
}

.main {
    background-color: $colorBackground;
}

a {
    transition: color 0.2s linear;

    &:hover {
        // color: $colorWhite !important;
    }
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;


    &--header {
        max-width: 1860px;
        padding: 0 20px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.none {
    display: none !important;
}

.titleH1 {
    font-size: clamp(1.625rem, 1.08rem + 2.73vw, 3.125rem);
    color: $colorWhite;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;

    &--stat {
        font-size: clamp(2.25rem, 0.205rem + 10.23vw, 7.875rem);
    }

    &--row {
        color: $colorAccent;
        text-align: center;
        line-height: 140%;
    }

    &--communitie {}

    &--support {
        margin-bottom: clamp(30px, 5vw, 56px);
    }
}

.titleH2 {
    font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
    color: $colorAccent;
    font-weight: 700;
    line-height: 100%;
}

.titleH3 {
    font-size: clamp(0.875rem, 0.557rem + 1.59vw, 1.75rem);
    color: $colorWhite;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

    &--communitie {}
}

.titleH4 {
    font-size: clamp(0.875rem, 0.693rem + 0.91vw, 1.375rem);
    color: $colorWhite;
    font-weight: 700;
    line-height: 110%;

    &--communitie {
        color: $colorSecondaryDark;
        text-align: center;
        margin-top: 30px;
    }

    &--support {
        // text-align: left;
    }
}

.titleH5 {
    font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
    color: $colorWhite;
    font-weight: 700;
    line-height: 130%;
}

.subtitleP {
    font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
    color: $colorWhite;
    font-weight: 700;
    line-height: 130%;

    &--row {
        text-align: center;
        line-height: 140%;
        text-transform: uppercase;
    }

    &--support {
        font-weight: 400;
        line-height: 130%;

        margin-bottom: clamp(22px, 5vw, 35px);
    }


}

.subtitleSpan {
    font-size: clamp(0.688rem, 0.619rem + 0.34vw, 0.875rem);
    color: $colorSecondaryDark;
    font-weight: 400;
    line-height: 130%;
}

.button--default {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: clamp(6px, 2vw, 12px) clamp(12px, 4vw, 24px);

    text-align: center;
    line-height: 170%;
    font-weight: 500;
    text-decoration: none;
    color: #fff;

    border: 2px solid $colorWhite;

    transition: background-color 0.2s linear, font-size 0.2s linear;

    &--small {
        max-width: 180px;
        max-height: 40px;
        font-size: clamp(0.688rem, 0.619rem + 0.34vw, 0.875rem);
    }

    &--big {
        max-width: 225px;
        max-height: 50px;
        font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
    }
}

.button--default:hover,
.button:focus {
    background-color: $colorWhite;
    color: $colorBackground;
}

.button--default:active {
    background-color: $colorActive;
    color: $colorWhite;
}

.button--accent {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: clamp(6px, 2vw, 12px) clamp(12px, 4vw, 24px);

    text-align: center;
    line-height: 170%;
    font-weight: 500;
    text-decoration: none;
    color: #fff;

    background-color: $colorAccent;

    transition: background-color 0.2s linear, font-size 0.2s linear;

    &--small {
        max-width: 180px;
        max-height: 40px;
        font-size: clamp(0.688rem, 0.619rem + 0.34vw, 0.875rem);
    }

    &--big {
        max-width: 225px;
        max-height: 50px;
        font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);

        &--support {
            max-width: 323px;

            margin-top: clamp(30px, 5vw, 99px);
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.button--accent:hover,
.button:focus {
    background-color: $colorAccentHover;
}

.button--accent:active {
    background-color: $colorAccentActive;
}

