/*FONTS*/

$fontMain: 'Cera pro', serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorAccent: #F25C3A;
$colorAccentHover: #FF852D;
$colorAccentActive: #E3432D;
$colorSecondaryDark: #927398;
$colorBackground: #2F1634;
$colorActive: #503655;


/*COLORS*/

/*MEDIA*/

$tablet: 900px;
$semiTablet: 600px;
$phone: 320px;

/*MEDIA*/